[project]
	description = http://go-api-1114.appspot.com/
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Haojin Gui (guihaojin)
[access "refs/for/refs/*"]
	read = group user/Haojin Gui (guihaojin)
	push = group user/Haojin Gui (guihaojin)
	label-Code-Review = -2..+2 group user/Haojin Gui (guihaojin)
	label-Verified = -1..+1 group user/Haojin Gui (guihaojin)
	rebase = group user/Haojin Gui (guihaojin)
	removeReviewer = group user/Haojin Gui (guihaojin)
	submit = group user/Haojin Gui (guihaojin)
[access "refs/heads/*"]
	read = group user/Haojin Gui (guihaojin)
	create = group user/Haojin Gui (guihaojin)
	push = +force group user/Haojin Gui (guihaojin)
	pushMerge = group user/Haojin Gui (guihaojin)
[access "refs/tags/*"]
	push = +force group user/Haojin Gui (guihaojin)
	pushTag = group user/Haojin Gui (guihaojin)
	pushSignedTag = group user/Haojin Gui (guihaojin)
